.login {
    margin-top: 80px;
    color: white;
    text-align: center;

    label {
        font-size: 30px;
    }
    
    input {
        height: 35px;
        width: 250px;
        margin: 7px;
        margin-right: 50px;
        border-radius: 5px;
    }
    button {
        font-weight: bold;
        height: 35px;
        width: 150px;
        margin: 7px;
        border-radius: 5px;
        color: #264653;
        background-color: #ffb703;
        border-bottom: 5px solid #ccc100;
    }
}

img {
    width: 150px;
}