.flashcard-post {

.top{
  display: flex;
  justify-content: center;

  > button {
    margin-top: auto;
    margin-bottom: auto;
  }
}

footer {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  }
}