
.flashcard-container {
  perspective: 1000;
  margin: 10px;
  float: left;
  cursor:pointer;
}

.front {
  background-color: orange;
}

.flashcard{
  position: relative;
  color: black;
  height: 300px;
  width: 300px;
  margin: 30px;
  padding: 1em;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  header{
    text-align: center;
        font-size:20px;
      }

      span {
        margin: auto;
        height: 108px;
        text-align: center;
        padding-bottom: 1em;
        overflow-wrap: break-word;
        block-size: fit-content
      }

      button {
        margin-left: auto;
        margin-right: auto;
        width: 2em;
      }
     div.back--incorect { 
        background-color: "red"
      }
}

